.message{
    margin: 2rem auto;
    background-color: #44AA22;
    width: max-content;
}

.message p{
    padding: 2rem;
    text-align: center;
}

.error{
    margin: 2rem auto;
    background-color: #AA2222;
    width: max-content;
}

.error p{
    padding: 2rem;
    text-align: center;
}